 /* #attorneyNames {
    background-color : #0a5688;
    margin-top : 10px;
    border-color : #0a5688;
    padding-left : 30px;
    padding-right: 30px;
} */

#returnToLoginButton {
    background-color : white;
    color:#405664;
    border-color : #405664; 
} 

#ExpungeButton {
    background-color : #0a5688;
    margin-top : 20px;
    border-color : #0a5688;
    width : 100%;
}