 /* #attorneyNames {
    background-color : #0a5688;
    margin-top : 10px;
    border-color : #0a5688;
    padding-left : 30px;
    padding-right: 30px;
} */

#cancelButton {
    background-color : white;
    color:#405664;
    margin-top : 10px;
    border-color : #405664; 
} 